/* Document and video previews */

.wiki-page .wiki-doc-preview, 
.wiki-page .wiki-video-preview, 
.wiki-page .wiki-audio-preview, 
.wiki-page .wiki-datatable
{
    margin: 0.5em 0;
}

.wiki-page .wiki-doc-preview,
.wiki-page .wiki-video-preview,
.wiki-page .wiki-audio-preview
{
   overflow: hidden;
}

.wiki-page div.wiki-doc-preview
{
   border-left: 1px solid #666666;
   border-right: 1px solid #666666;
   border-bottom: 1px solid #666666;
}

.wiki-page div.wiki-video-preview
{
   border-left: 1px solid #666666;
   border-right: 1px solid #666666;
   border-bottom: 1px solid #666666;
}

.wiki-page div.wiki-audio-preview
{
}