/* Data lists */

.wiki-page .wiki-datatable
{
    margin: 0.5em 0;
}
.wiki-datalist-title
{
    font-weight: 700;
}
.wiki-datalist-hd
{
   padding-bottom: 0.5em;
}
.wiki-datalist-description
{
   color: #666666;
}