/* Visual appearance customisations */

.wiki-page.preview
{
   display: none;
   border-top: none;
}
.wiki-page.preview > h2
{
   padding: 0.2em;
   background: #F3F3F3;
   font-weight: normal;
   font-size: 1.5em;
   color: black;
   margin-bottom: 1em;
   border-bottom: 1px solid #DFDFDF;
}
.wiki-page.preview .rich-content
{
}
.wiki-page .rich-content,.wiki .rich-content
{
    /* Comment out the following line to make the page
    take up the full screen width */
   max-width: 60em;
   color: #333333;
   line-height: 1.5em;
}
.wiki-page .rich-content a, .wiki .rich-content a
{
   color: #6CA5CE;
}
.wiki-page .rich-content .nav, .wiki .rich-content .nav
{
    width: 100%;
}
.wiki-page .rich-content .pullout, .wiki .rich-content .pullout
{
    margin: 0.5em 0;
    padding: 1em;
    background: #f0f0f0;
    border: 1px solid #cccccc;
}
.wiki-page .rich-content h1, .wiki .rich-content h1
{
    margin: 1em 0 0.5em 0;
    padding: 0 0 0.25em 0;
    border-bottom: 1px solid #cccccc;
}
.wiki-page .rich-content h2, .wiki .rich-content h2
{
    padding-top: 1em;
    
}
.wiki-page .rich-content h3, .wiki-page .rich-content h4, 
.wiki-page .rich-content h5, .wiki-page .rich-content h6,
.wiki .rich-content h3, .wiki .rich-content h4, 
.wiki .rich-content h5, .wiki .rich-content h6
{
    padding-top: 1em;
}
.wiki-page .rich-content h1 a, .wiki-page .rich-content h2 a, 
.wiki-page .rich-content h3 a, .wiki-page .rich-content h4 a, 
.wiki-page .rich-content h5 a, .wiki-page .rich-content h6 a,
.wiki .rich-content h1 a, .wiki .rich-content h2 a, 
.wiki .rich-content h3 a, .wiki .rich-content h4 a, 
.wiki .rich-content h5 a, .wiki .rich-content h6 a
{
    color: #333333;
}
.wiki-page .rich-content h1 a:hover, .wiki-page .rich-content h2 a:hover, 
.wiki-page .rich-content h3 a:hover, .wiki-page .rich-content h4 a:hover, 
.wiki-page .rich-content h5 a:hover, .wiki-page .rich-content h6 a:hover,
.wiki .rich-content h1 a:hover, .wiki .rich-content h2 a:hover, 
.wiki .rich-content h3 a:hover, .wiki .rich-content h4 a:hover, 
.wiki .rich-content h5 a:hover, .wiki .rich-content h6 a:hover
{
    color: #333333;
    text-decoration: none;
}
.wiki-page .rich-content ul, .wiki-page .rich-content ol,
.wiki .rich-content ul, .wiki .rich-content ol
{
    padding: 0 0 0 1em;
}
.wiki-page .rich-content p + ul, .wiki .rich-content p + ul
{
    padding-top: 1em;
}
.wiki-page .rich-content h1 + ul, .wiki .rich-content h1 + ul,
.wiki-page .rich-content h2 + ul, .wiki .rich-content h2 + ul,
.wiki-page .rich-content h3 + ul, .wiki .rich-content h3 + ul,
.wiki-page .rich-content h4 + ul, .wiki .rich-content h4 + ul,
.wiki-page .rich-content h5 + ul, .wiki .rich-content h5 + ul,
.wiki-page .rich-content h6 + ul, .wiki .rich-content h6 + ul,
.wiki-page .rich-content h1 + ol, .wiki .rich-content h1 + ol,
.wiki-page .rich-content h2 + ol, .wiki .rich-content h2 + ol,
.wiki-page .rich-content h3 + ol, .wiki .rich-content h3 + ol,
.wiki-page .rich-content h4 + ol, .wiki .rich-content h4 + ol,
.wiki-page .rich-content h5 + ol, .wiki .rich-content h5 + ol,
.wiki-page .rich-content h6 + ol, .wiki .rich-content h6 + ol
{
    padding-top: 1em;
}
.wiki-page .rich-content ul li, .wiki .rich-content ul li
{
}
.wiki-page .rich-content pre,
.wiki-page .rich-content code,
.wiki .rich-content pre,
.wiki .rich-content code
{
    font-size: 0.9em;
    line-height: 1.5em;
    border: 1px solid #cccccc;
    padding: 1em;
    margin: 0.5em 0;
    background-color: #f0f0f0;
    overflow: auto;
    max-height: 30em;
}
.wiki-page .rich-content .previewer.Prettify pre,
.wiki-page .rich-content .previewer.Prettify code,
.wiki .rich-content .previewer.Prettify pre,
.wiki .rich-content .previewer.Prettify code
{
    font-size: 0.9em;
    line-height: 1.5em;
    border: 0px;
    padding: 1em;
    margin: 0 0;
    background-color: #f0f0f0;
    overflow: visible;
    max-height: none;
}
.wiki-page .rich-content .previewer.Prettify,
.wiki .rich-content .previewer.Prettify
{
    background-color: #f0f0f0;
}